.button__empty-cart span{
    display: flex;
    align-items: center;
    justify-content: center;
    

    font-size: 14px;
    font-weight: 600;
    width: 160px;
    padding: 10px;
    border:1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
}

.button__empty-cart span:hover{
 border:1px solid grey;
background-color: grey;
color: white;
transition: all 0.5s ease;   
}

.button__empty-cart{
    display: inline-block;
    margin-top: 30px;
}